body {
    background: linear-gradient(135deg, #eef2f3 0%, #636872 100%);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.fondo-login {
    background-image: url("Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    background-color: rgba(197, 169, 107, 0.9);
}


header h1 {
    color: #160c75 !important;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.boton-personalizado {
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-personalizado:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.boton-personalizado-azul {
    background-color: #160c75;
    color: white;
}


.boton-personalizado-dorado {
    background-color: #c5a96b;
    color: #fff;
}

.boton-personalizado-gris {
    background-color: rgb(128, 128, 128);
    color: #fff;
}


.contenedor-principal {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}